img {
	max-width: 50%;
	height: auto;
	display: block;
}

picture {
	display: block;
	margin-left: auto;
	margin-right: auto;
}

header {
	border-style: dashed;
	border-width: 2px;
	border-color: black;
	margin-top: 10px;
	margin-left: 20px;
	padding-left: 50px;
}

nav {
	border-style: dashed;
	border-width: 2px;
	border-color: blue;
	margin-top: 5px;
	margin-right: 200px;
	padding-top: 15px;
	padding-bottom: 10px;
}

main {
	border-style: dashed;
	border-width: 2px;
	border-color: red;
	margin-left: 50px;
	margin-right: 50px;
	padding-bottom: 50px;
}

footer {
	border-style: dashed;
	border-width: 2px;
	border-color: chocolate;
	padding-left: 200px;
}
